backend/node_modules/
backend/dist/
backend/coverage/
backend/.nyc_output/
backend/*.tsbuildinfo

build/

pnpm-lock.yaml
yarn.lock

.env
.env.*

npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log
pnpm-debug.log
pnpm-debug.yaml

.idea/
.vscode/

.DS_Store

docker-compose.override.yml
